---
title: "Vejiga neurogénica"
author: "Gary J. Espitia S."
date: "10/23/2019"
output:
  pdf_document:
    latex_engine: xelatex
    toc: yes
    toc_depth: 4
---



<div id="tratamiento" class="section level1">
<h1>Tratamiento</h1>
<div id="farmacológico" class="section level2">
<h2>Farmacológico</h2>
<p>Aquí están indicadas las terapias combinadas.</p>
<div id="fármacos-para-los-síntomas-de-almacenamiento" class="section level3">
<h3>Fármacos para los síntomas de almacenamiento</h3>
<ul>
<li><strong>Fármacos antimuscarínicos</strong>: son los de elección para el tratamiento del detrusor hiperactivo y la capacidad vésical gracias a la ruta parasimpática. Estos son:
<ul>
<li>Oxibutinina, trospium, tolterodina y propiverina</li>
<li>Adicionalmente en los pacientes con esclerosis mútlpile y lesión espinal: Darifenacina y slifenacina.</li>
</ul></li>
<li><strong>Receptores agonistas beta-3-adrenérgicos</strong>: como el mirabegron, el cual solo tiene indicaciones para ser usado de manera combinada.</li>
</ul>
</div>
<div id="fármacos-para-síntomas-del-vaciamiento" class="section level3">
<h3>Fármacos para síntomas del vaciamiento</h3>
<ul>
<li>Hipoactividad del detrusor: drogras colinérgicas como el betanecol y la distigmina</li>
<li>Buscando disminuir la resistencia de salida de la vejiga: alfa-bloqueqadores (tamsolusina, naftopidil y silodosina).</li>
<li>Buscando incrementar la resistencia de salida de la vejiga</li>
</ul>
</div>
</div>
<div id="mínimamente-invasivo" class="section level2">
<h2>Mínimamente invasivo</h2>
<ul>
<li><strong>Cateterismo intermitente</strong>: es el preferido para el manejo de pacientes que no pueden vaciar vejiga efectivamente. Con una realización de 4-6 por día. La caterización transuretral y la cistostomía tienen un número de complaciones que aumentan el riesgo de IVU.</li>
</ul>
</div>
<div id="tratamiento-farmacológico-intravesical" class="section level2">
<h2>Tratamiento farmacológico intravesical</h2>
<p>Ofrecer oxibutinina intravesical a pacientes con hiperactividad del detrusor neurogénico con poca tolerancia a la vía oral.
Los vanilloides, capsaicina y resiniferatoxina, desensibilizan las fibras C por un período de unos pocos meses. Los estudios clínicos han demostrado que la resiniferatoxina tiene una eficacia clínica limitada en comparación con las inyecciones de toxina botulínica A (BTX-A) en el detrusor.</p>
</div>
<div id="inyecciones-de-toxina-botulínica-en-la-vejiga" class="section level2">
<h2>Inyecciones de toxina botulínica en la vejiga</h2>
<p>La toxina botulínica A causa una denervación química duradera pero reversible que dura unos nueve meses. Los efectos secundarios más importantes son IVU y el residuo post-miccional.</p>
</div>
<div id="procedimientos-del-cuello-de-la-vejiga-y-la-uretra" class="section level2">
<h2>Procedimientos del cuello de la vejiga y la uretra</h2>
<p>Uno de los objetivos más importantes aquí es proteger el sistema urinario superior.
* Toxina botulínica A: usada para tratar la disinergia detrusor-esfinter.
* Incremientand la resistencia de salida de la vejiga.
* La incisión vesical es efectiva en cuello vesical fibrótico</p>
</div>
<div id="tratamiento-quirurgico" class="section level2">
<h2>Tratamiento quirurgico</h2>
<div id="procedimientos-uretrales-y-del-cuello-vesical" class="section level3">
<h3>Procedimientos uretrales y del cuello vesical</h3>
<p>Tiene el riesgo inherente de causar presión intravesical aumenta. De manejra que los procedimientos para tratar la incontinencia esfinteriana solo están disponibles cuando la actividad del detrusor puede ser controlada y cuando no hay reflujo significativo presente.</p>
<ul>
<li><em>Cabestrillo uretral</em></li>
<li><em>Esfinter urinario artificial</em>: el único problema es una alta tasa de complicaciones y re-intervenciones.</li>
<li><em>Dispositivo de continencia ajustable (proACT/ACT)</em>: la eficacia de este dispositivo ha sido reportada en incontinencia post-prostatectomía.</li>
<li><em>Aumento del esfinter funcional</em>: La transposición del músculo gracilis al cuello de la vejiga o la uretra proximal puede permitir la creación de un esfínter autólogo funcional mediante estimulación eléctrica.</li>
<li><em>Reconstrucción de la uretra y el cuello vesical</em></li>
<li><em>Técnicas endoscópicas para tratar la obstrucción anatómica de la salida de la vejiga</em>
<ul>
<li><em>RTUP</em>: La resección transuretral de la próstata está indicada en pacientes varones con síntomas de LUT refractarios debido a obstrucción prostática benigna.</li>
<li><em>Resección del cuello de la vejiga</em>: indicado en pacientes con alto residuo post-miccional y cuando una obstrucción promimente del anillo esclerótico es identificado durante la cistoscópia.</li>
<li><em>Uretrotomía</em>: indicado en pacientes</li>
<li><em>Esfinterectomía</em>:</li>
</ul></li>
<li><em>Stents</em>: La implantación de stents uretrales hace que la continencia dependa del cierre adecuado del cuello de la vejiga.</li>
</ul>
</div>
<div id="denervaciones-deafierenciación-y-neuromoduladores-sacros" class="section level3">
<h3>Denervaciones, deafierenciación y neuromoduladores sacros</h3>
<p>La estimulación de la raíz anterior sacra (SRAS) está dirigida a producir la contracción del detrusor.</p>
</div>
<div id="resección-de-cuello-vesical" class="section level3">
<h3>Resección de cuello vesical</h3>
</div>
<div id="aumento-de-la-vejiga" class="section level3">
<h3>Aumento de la vejiga</h3>
</div>
<div id="diversión-urinaria" class="section level3">
<h3>Diversión urinaria</h3>
</div>
</div>
</div>
