---
title: "Urolitiasis"
author: "admin"
date: '2019-12-15'
lastmod: '2019-12-15T16:52:37-05:00'
linktitle: Urolitiasis
menu:
  example:
    name:
    weight: 1
slug: urolitiasis
subtitle: basado en las clases del dr. Clavijo
summary: null
tags: urolitiasis
categories:
- Urología
- Medicina
toc: yes
type: docs
---


<div id="TOC">
yes
</div>

<div id="introducción" class="section level1">
<h1>Introducción</h1>
<p>Los cálculos están en cualquier porción del tracto urinario. Se encuentran en el 3-5% de la población adulta. Y se encuentran con respecto al género en una relación de 3 hombres por cada mujer. Es menos frecuente en pacientes de raza negra.
Se asocia a trastornos metabólicos, hábitos por sondas, características alimentarias.</p>
<p>Afecta al 1% de la población total. En Colombia es el 2-3%, con una recurrencia del 10% en el primer año,
En la comunidad europea la tasa d erecurrencia a los 5 años es del 44-75%.</p>
<table>
<thead>
<tr class="header">
<th><strong>Composición química y características radiológicas</strong></th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><strong>Composición química</strong></td>
<td><strong>Aspecto</strong></td>
<td><strong>Radiopacidad</strong></td>
<td><strong>Incidencia</strong></td>
</tr>
<tr class="even">
<td>Oxalátos/fosfato de cálcio (dihidratado(?))</td>
<td>variable</td>
<td>+++</td>
<td>34%</td>
</tr>
<tr class="odd">
<td>Oxalátos de cálcio (monohidratado (?))</td>
<td>Espirulado</td>
<td>+++</td>
<td>33%</td>
</tr>
<tr class="even">
<td>Estruvita</td>
<td>Coraliforme</td>
<td>++</td>
<td>15%</td>
</tr>
<tr class="odd">
<td>Fosfato de cálcio</td>
<td>laminar</td>
<td>++++</td>
<td>6%</td>
</tr>
<tr class="even">
<td>Cistina</td>
<td>Homogeneo</td>
<td>+</td>
<td>3%</td>
</tr>
<tr class="odd">
<td>Ácido úrico</td>
<td>Radiotranspartente</td>
<td>0</td>
<td>8%</td>
</tr>
</tbody>
</table>
<p>Otros de los que no se ven son los de <em>indinavir</em>.</p>
<!-- | **Calcicos y no calcicos** | -->
<!-- |---|---| -->
<!-- | **Forma macroscópica** | **Carácteristica** | -->
<!-- | Infecciosos | blandos| -->
<p>Debe lograr 1-2L de volumen urinario. Por lo que la persona debe estimar cuantos líquidos debe ingerir para lograr esa micción.
Va de la primer orina de un día
Limonada o naranjada está recomendado.
Disimnuir, café, chocolate,
Disminuir carnes rojas, frutos secos, verduras oscuras, productos derivados de la soya. Los productos lacteos son permitidos ya que solo hay un producto derivado.</p>
<div id="definiciones" class="section level2">
<h2>Definiciones</h2>
<p><em>Litiasis renal no complicada</em>: paciente que queda libre de litiasis despues de un primer episodio o un episodio recurrente de larga data.
<em>Litiasis complicada</em>: recurrencia frecuente con o sin fragmentos residuales, cálculos asociados a factores de riesgo o pacientes con primer episodio + fragmentos residuales.</p>
</div>
</div>
<div id="epidemiología" class="section level1">
<h1>Epidemiología</h1>
<p>La tasa de recurrencia a 5 años es del 44-75%.
En Colombia la incidencia es del 2-3%, con una tasa de recurrencia del 10% en el primer año, 35% a 5a, y 50% a 10a.</p>
<p>Factores intrínsecos: genetica: 25%, edad (20-40a) y sexo.
Factores extrínsecos: Geografía y clima: regiones montañolas, desérticas y tropicales, en areas calientes y secas. Dependiendo de la ocupación y el peso (alimentación).</p>
</div>
<div id="fisiopatología" class="section level1">
<h1>Fisiopatología</h1>
<div id="procesos-de-cristalización" class="section level2">
<h2>Procesos de cristalización</h2>
<div id="saturación" class="section level3">
<h3>1. Saturación</h3>
<p>Agregación de cantidades crecientes de sustancias cristalizables en la orina a un pH y una temperatura determinados que en cierto momento alcanza una concentración suficientemente elevada para que se formen cristales.
### 2. Nucleación
Inicia el proceso de cálculo y puede inducirse por una variedad de sustancias, incluyendo una matriz de proteinas, cristales, cuerpos extraños y otros. Si ocurre espontaneamente se denomina <em>enucleación homogenea</em>, si el proceso se debe a que particulas de polvo, astillas de vidrio y otros contaminantes penetran la solución se denomina <em>nucleación heterogénea</em>
### 3. Crecimiento de un cristal
Una vez ocurrida la nucleación, algunos nucleos pueden continuar su crecimiento si la orina permanece sobresaturada.
### 4. Agregación de cristal
En determinadas condiciones los nucleos pueden crecer y acercarse entre hasta lgiarse por distintas fuerzas químicas y formar grandes masas cristalinas.</p>
<div id="placas-de-randall" class="section level4">
<h4>Placas de Randall</h4>
<p>Sitios de deopsito intersticialde ristales en la punta de la papila que son encontrados en tdoso los pacientes formadores cálculos de oxalatos de cálcio idopáticos.m</p>
</div>
</div>
</div>
<div id="stiios-de-impactación-y-sintomatología" class="section level2">
<h2>Stiios de impactación y sintomatología</h2>
<ul>
<li>Unión pieloureteral</li>
<li>Cruce de vasos iliacos</li>
<li>Unión vesicoureteral</li>
<li>Infundibulo</li>
<li>Cáliz estrecho</li>
<li>Arteria uterina y vaginal</li>
</ul>
</div>
</div>
<div id="etiología" class="section level1">
<h1>Etiología</h1>
<!-- Test de PAK -->
<!-- * Hipercalcuria -->
<!--   * Hiperparatiroidismo -->
<!--   * Hipervitaminosis D -->
<!--   * Idiopática -->
</div>
<div id="clínica" class="section level1">
<h1>Clínica</h1>
<p>Depende de la localización, tamaño, y capacidad obstructiva del cálculo:</p>
<ul>
<li><strong>Cólico nefrítico</strong>: presentación clínica más frecuente, se da por un aumento de la presión intramural y la irritación de las terminaciones nerviosas de la vía urinaria. Es un dolor tipo cólico, con picos de gran intensidad, se irradia a ingle y genitales, no hay postura que lo alivie, se acompaña de agitación psicomotríz, nauseas, vómito y distensión abdominal, puede presentarse síndrome miccional con disuria, polaquiruria y hematuria.
<ul>
<li><em>Cálculo calice renal</em>:</li>
<li><em>Cálculos en pelvis renal</em>:</li>
<li><em>Cálculos en ureter superior</em>:</li>
<li><em>Cálculos en uréter medio</em>: el dolor irradia a flanco y región abdominal</li>
<li><em>Cálculos de la unión reterovesical</em>: es la tercera estrechez anatómica, este nivel el diametro es tan sólo 1mm, <em>aquí es donde se impactan el mayor número de cálculos</em>. Tipicamente darán síntomas de irritación vesical con urgencia miccional, polaquiuria y tenesmo vesical.</li>
</ul></li>
<li><strong>Hematuria</strong>: despues del dolor y se da por la liberación del cálculo</li>
<li><strong>Infección urinaria a repetición</strong>: Una complicación grave de la litiasis es la pielonefritis obstructiva infectiva.</li>
</ul>
</div>
<div id="diagnóstico" class="section level1">
<h1>Diagnóstico</h1>
<!-- Identificación macroscópica -->
<!-- Espectografía infrarroja: método de elecciónpara el estudio de la litiasis, porque la imagen es única para cada cáculo -->
<!-- Microscopía electrónica -->
<!-- Análisis quimico cuantitativo -->
</div>
<div id="tratamiento-y-ordenes-médicas" class="section level1">
<h1>Tratamiento y ordenes médicas</h1>
<p>Se considera de <em>bajo riesgos</em> aquellos episodios que son únicos.
<em>Alto riesgo</em>: litiasis bilateral, riñón único, alteración en la función renal, dolor incontrolable, reincidencia o urgencias por dolor, asociado a infección.</p>
<p>Los objetivos del tratamiento son:</p>
<ul>
<li>Control de la sintomatología</li>
<li>Favorecer la progresión espontanea en el caso del tratamiento expulsivo</li>
</ul>
<div id="urgencias" class="section level2">
<h2>Urgencias</h2>
<ol style="list-style-type: decimal">
<li>Hospitalizar,</li>
<li>Dieta normal / nada vía oral,</li>
<li>SSN 0.9% y pasar a 80cc/h,</li>
<li><em>Butil bromuro de hioscina (buscapina) 20mg c/8 IV</em>,</li>
<li><strong>AINES</strong>: <em>Dipirona 2g c/8h IV (de aplicación lenta)</em> o <em>Diclofenaco 75mg c/12h IV</em>. En caso de no funcionar se utilizan <strong>Opioides</strong>: _Meperidina 1mg/kg/h IV
<em>Acetaminofen 1G c/8h VO</em>; y/o <em>Tramadol 50mg c/8h, IV</em>,</li>
<li><strong>Protección gástrica</strong>: <em>Ranitidina 50mg c/8h</em>,</li>
<li><strong>ANTIEMÉTICOS</strong> : <em>Metoclopramida: 10mg c/8h</em>; <em>Cefazolina 2g c/8h IV</em>, si tiene fiebre y previo a la toma del urocultivo.</li>
<li><strong>SEPSIS</strong>: Carbapenemicos: <em>Ertapenem 1g/d IV</em>. En caso de <strong>Pseudomona</strong>: <em>piperacilina/tazobactam: 4.5g c/6h, IV.</em></li>
<li><em>Tamsolusina</em> 0.5mg una vez al día por 12d.</li>
<li>Control y monitorización de signos vitales,</li>
</ol>
</div>
<div id="paraclínicos" class="section level2">
<h2>Paraclínicos</h2>
<ol style="list-style-type: decimal">
<li>Urocultivo: sospecha de infeccion o síndrome de respuesta inflamatoria sistémica (SIRS en ingles)</li>
<li>Cuadro hemático</li>
<li>Urotac</li>
<li>Creatinina y BUN</li>
<li><em>Estudio metabólico</em>: los siguientes son para estudios séricos y en orina 24h: ácido úrico, cálcio, fósforo sérico, magnesio, bicarbonato, oxalátos, citratos.
5.1. En caso de cálcio alto: PTH y vitamina D.</li>
</ol>
</div>
<div id="imagenes" class="section level2">
<h2>Imagenes</h2>
<ul>
<li><em>Ecografía de simple de abdomen</em>: primer estudio que se realiza. Se evidencian cambios indirectos de la obstrucción del cálculo o se evidencian cuando son mayores de 5 mm con sonda acústica posterior. Se aprecian dilatación de los ureterales o pelvis renal, edema de la grasa peri renal, alteraciones del jet ureteral.</li>
<li><em>UroTac</em>: es el <em>gold standard</em>: es una tomografía que evalúa la morfologia anatómica del tracto urinario sin contraste que toma cortes helicoidales cada 2-3mm.</li>
<li><em>Urografía intravenosa</em>:
*_ TAC hilioidal sin y con contraste_:</li>
<li>Pielourografía: no se realia en pacientes: alergicos al medio de contraste, creatinina superior a 200mmol/L, con mielomatosis. Solo está indicado en defecto de llenamiento, no es un procedimiento standard.</li>
</ul>
<!-- Cuando se ordena? -->
</div>
<div id="cirugía" class="section level2">
<h2>Cirugía</h2>
<div id="tratamiento-expulsivo-de-la-litiasis-ureteral" class="section level3">
<h3>Tratamiento expulsivo de la litiasis ureteral</h3>
<p>Cuando se adelanta el descenso espontaneo del cálculo, puede ser útil poner supositorios o comprimidos de 50mg de diclofenáco sódico dos veces al día 3-10d, esto reduce el edema uretral y el riesgo de dolor recidivante.</p>
</div>
<div id="indicaciones-para-cirugía" class="section level3">
<h3>Indicaciones para cirugía</h3>
<ul>
<li>Baja probabilidad de expulsión espontantea (&gt;7mm)</li>
<li>Dolor persistente a pesar de indicación.</li>
<li>Obstrucción persistente</li>
<li>Insuficiencia renal (falla renal, obstrucción bilateral, riñón único)</li>
</ul>
</div>
<div id="tratamiento-de-acuerdo-a-dimensiones" class="section level3">
<h3>Tratamiento de acuerdo a dimensiones</h3>
<ul>
<li><strong>&lt;4mm</strong>: 95% de expulsión, tratamiento expulsivo de la litiasis ureteral, el cual se puede mantener de 2-6 semanas.</li>
<li><p><strong>4-7mm</strong>: dar tamsolusina de 0.4mg/d, para aumentar la tasa de expulsión sólo si el cálculo está en el ureter proximal.
<!-- * **6mm-1.5cm + densidad <1000UH**: litotripsia extracorpórea por ondas de choque (LEOC), no en cálculos distales y no en obesos. -->
<!-- * **1.5-2cm + densidad >1000UH**: ureterolitotímia endoscópica. --></p></li>
<li><p><strong>&gt; 2cm</strong>: nefrouretrolitotomía percutanea o litotripsia extracorpórea por ondas de choque (LEOC).</p></li>
</ul>
<div class="figure">
<img src="https://uroweb.org/wp-content/guidelines/Urolithiasis_2019/images/Fig%203.4.2.%20-%20Treatment%20algorithm_2019.png" alt="Treatment algorithm 2019" />
<p class="caption">Treatment algorithm 2019</p>
</div>
<p>Medical Managment of Stones.</p>
</div>
</div>
<div id="estudio-de-la-litiasis-cálcica" class="section level2">
<h2>Estudio de la litiasis cálcica</h2>
<div id="hipercalciuria" class="section level3">
<h3>Hipercalciuria</h3>
<ul>
<li>Idiopática</li>
<li>Hiperparatiroidismo</li>
</ul>
<p>Hipercalciuria absortiva</p>
<p>Hipercalciuria resortiva - Hiperparatiroidismo primario.</p>
</div>
</div>
</div>
